@import "tailwindcss";

/* body {
    font-family: 'Inter', sans-serif !important;
  } */
body {
    font-family: 'Roboto', sans-serif;
}
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #0079ff;
  --color-secondary: #9CA3AF;  
  --color-body-light: #fafafa;
  --color-body-dark: #000000;
  --color-card-light: #f5f5f5;
  --color-card-dark: #111111;
  --color-text-light: #212121;
  --color-text-dark: #fafafa;
}